
h3{
    color: rgb(74, 73, 97);
    font-size: 20px;
    font-style:oblique;
}
body{
    font-style: oblique;
    font-size: 15px;
    color: rgb(128, 126, 167);
}
div
{       
margin-top: 50px;
margin-bottom: 100px;
margin-right: 50px;
margin-left: 450px;
background-color: aliceblue;
}
